* {
  box-sizing: border-box;
  outline: 0;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
/* bọc toàn bộ nội dung trang web */
#wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/*======== HEADER TOP : START ========*/
.header-top {
  width: 100%;
  height: 50px;
  padding: 15px 0;
  background-color: #192442;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.information li {
  display: inline-block;
  margin-right: 25px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #ecb207;
}
.information li a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.user-control li {
  display: inline-block;
  margin-right: 25px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #ecb207;
}
.user-control li a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
/*======== HEADER TOP : END ========*/

/*======== HEADER BOTTOM : START========*/
.logo img {
  width: 140px;
  height: 80px;
}

.menu {
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #192442;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky; /* tạo menu bám dính*/
  top: 0;
  z-index: 12;
}
.menu .search-container {
  float: right;
}

.menu input[type="text"] {
  width: 250px;
  padding: 6px;
  margin-top: 4px;
  font-size: 14px;
  border: none;
  border-radius: 30px 0 0 30px;
}

.menu .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 4px;
  margin-right: 16px;
  background: #ddd;
  font-size: 14px;
  border-radius: 0 30px 30px 0;
  border: none;
  cursor: pointer;
}

.menu .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 400px) {
  .header-top .search-container {
    float: none;
  }
  .menu li,
  .menu input[type="text"],
  .menu .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 12px;
  }
  .menu input[type="text"] {
    border: 1px solid #ccc;
  }
}
.menu ul li {
  font-style: inherit;
  display: inline-block;
  cursor: pointer;
}
.menu a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 14px;
}

/*======== HEADER BOTTOM : END ========*/
/* ảnh nền trang chủ */
.page-homeqn-content {
  width: 100%;
  height: 400px;
  background-image: url(../images/bg_image2.png);
  opacity: 0.9;
  /* Căn giữa và chia tỷ lệ ảnh */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*===== FILTER : START =====*/
.filter {
  width: 70%;
  height: 54px;
  position: absolute;
  border-radius: 10px;
  /* margin: 0 auto; */
  margin-top: 100px;
  margin-left: 200px;
  background-color: #ecb207;
}
.filter-list {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
/*vùng chứa phải được định vị tương đối*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  border-radius: 20px;
}

.select-selected {
  background-color: rgb(3, 38, 77);
}

/*tạo kiểu mũi tên bên trong phần tử được chọn*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}

/*chỉ mũi tên lên trên khi hộp chọn đang mở*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #000000 transparent;
  top: 7px;
}

.select-items div,
.select-selected {
  color: #000000;
  background-color: #ffffff;
  padding: 8px 16px;
  border-radius: 10px;
  border-color: transparent transparent rgba(255, 157, 157, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options)*/
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.select-items:hover {
  background-color: rgb(244, 230, 212);
}
/*ẩn các mục khi đóng hộp chọn*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.select-items {
  border: 1px solid;
  width: 200px;
  height: 297px;
  overflow-x: hidden;
  overflow-y: auto;
}
.filter-list button {
  background-color: rgb(175, 175, 6);
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 14px;
}
/*===== FILTER : END =====*/
/*===== MAIN : START =====*/
#main {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}
/* Side bar*/
#main #sidebar {
  margin-top: 20px;
  width: 25%;
  /* margin-left: 30px; */
  border: none;
}
section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #dededd;
  border-radius: 8px;
}
section span {
  margin-top: 0px;
  margin-bottom: 15px;
}
section .title {
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link-list > li a {
  padding: 5px 0;
  display: inline-flex;
  align-items: center;
  color: #000000;
  width: 100%;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 400;
}
.link-list a {
  color: #000000;
  text-decoration: none;
  line-height: 2;
}
.link-list a:hover {
  color: #ff666b;
}
/* MAIN CONTENT */
#main .main-content {
  float: left;
  width: 70%;
  height: auto;
  margin-left: 50px;
}
.title-content {
  margin-top: 20px;
  margin-bottom: 20px;
}
.text-block {
  position: absolute;
  width: 300px;
  bottom: 50%;
  right: 50%;
  background-color: rgb(0, 0, 0);
  color: white;
  opacity: 0.7;
  padding-left: 20px;
  padding-right: 20px;
}
.card {
  width: 100%;
  height: 270px;
  padding: 15px 10px;
  font-size: 14px;
  border: 1px solid #dededd;
  border-color: #e13427;
  border-radius: 8px;
  background-color: #fff9f3;
  display: flex;
  text-align: left;
  justify-content: flex-start;
}
.card .image {
  width: 40%;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .text {
  margin-left: 30px;
  line-height: 2;
  justify-content: center;
}
.card .text h3 {
  color: red;
}
.card .text .price {
  margin-right: 20px;
  color: #16c784;
  font-weight: 700;
}
.list-item {
  list-style: none;
}
.contact {
  display: flex;
  text-align: center;
  justify-content: right;
}
.contact a {
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid #1266dd;
  cursor: pointer;
}
.contact .btn-quick-call {
  background-color: #1266dd;
  color: #fff;
  display: inline;
}
.contact .btn-quick-chat {
  background-color: #fff;
  color: #1266dd;
}
.contact .btn-quick-chat:hover {
  background-color: #1266dd;
  color: #fff;
}
/*===== MAIN : END ===== */

/* ===== SUPPORT : START =====*/
section#support-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 7px dashed #e8eefc;
}
#support-container .bg-support img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
#support-container .bg-support {
  margin: 0 auto;
  width: 600px;
  height: 250px;
  background-size: cover;
}
.title-support p {
  display: flex;
  justify-content: center;
  font-size: 26px;
  font-weight: 600;
}
.content-support {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 40px;
}
.content-support-contact span,
.content-support-contact a {
  display: flex;
  font-size: 20px;
}
.content-support-contact span {
  text-decoration: none;
  color: #ff1108;
  font-weight: 500;
}
.content-support-contact a {
  text-decoration: none;
  color: #000000;
}
.contact-info:hover {
  color: #1266dd;
}

/* ===== SUPPORT : END =====*/
/*===== FOOTER : START =====*/
footer {
  width: 100%;
  padding: 30px;
  background-color: #192442;
  color: #fff;
  font-size: 14px;
  display: flex;
  text-align: left;
  justify-content: space-between;
}
.footer-first-content {
  width: 30%;
  text-align: center;
}
.footer-col {
  width: 30%;
}
.footer-col li {
  list-style: none;
  line-height: 2;
}
.footer-col ul {
  padding: 0;
}
.footer-col li:hover {
  text-decoration: underline;
  cursor: pointer;
}
/*===== FOOTER : END =====*/
